extends ../views/layout

block content
  .actions
    a(href='/#{prefix}/new') Start new pool
  .pool-list
    for pool in pools
      .pool-item
        a(href="/#{prefix}/#{pool.id}")= pool.id
        label= pool.question
